//------header images-----
.img-header {
  height: 300px;
  width: 100%;
  background-size: cover;
}

.home-img {
background-image: url("../img/img1.jpg");
}

.user-img {
background-image: url("../img/img4.jpg");
background-position: center bottom 40%;
}

.book-img {
background-image: url("../img/img2.jpg");
}

@media (min-width: 992px) {
  .home-img {
    height: 500px;
    background-position: center bottom 40%;
  }

  .user-img {
    height: 500px;
    background-position: center bottom 20%;
  }

  .book-img {
    height: 500px;
    background-position: center bottom;
  }
}

//--------search bar--------
.search-img {
  height: 100px;
  width: 75px;
  background-size: cover;
}

.searchItem:focus {
  background-color: lightgray;
}
//-------rating styles-------

.rating {
  color: #ddd;
  display: flex;
  flex-direction: row-reverse;
}

input[type="radio"]  {
  display: none;
}

.rating label:hover,
.rating input:checked ~ label,
.rating label:hover ~ label {
  color: #6c757d;
}


//-------reviews styles------
.bookCover {
  height: 220px;
  width: 150px;
}

.description, .review {
  font-size: 20px;
  font-weight: lighter;
}

.book-specific-ratings {
  font-size: 17px;
  font-weight: lighter;
}

.reviewStars {
  color: #6c757d70;
}

.active {
  color: #6c757d;
}


